//Color variables
$color-main: #0fd65a;
$color-bg: #222;
$color-bg-app: #1b1b1b;
$color-bg-bright: #fff;
$color-text: #fff;
$color-text-dark: #1b1b1b;
$color-text-next: #9a9b9b;
$color-progress-bar: #2a2a2a;
