@import "settings";

html, body{
    height: 100%;
}

body{
//    display: flex;
//    justify-content: center;
//    align-items: center;
    
    background: #222;
    color: $color-text;
    font-family: "Source Sans Pro", Helvetica, Arial, Sans-serif;
    font-size: 18px;
}  
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
}
.row-column{
    display: flex;
    flex-direction: column;
}
.col-1{
    flex: 1;
}
li{
    list-style-type: none;
}
section{
    padding: 15px 0;
}

h2{
    color: $color-main;
    font-family: "Source Sans Pro", Helvetica, Arial, Sans-serif;
    font-size: 2rem;
    margin-bottom: 0.3em;
    line-height: 1.2em;
    font-weight: 400;
}

/***MAIN***/

#main{
    position: relative;
    margin: 0 auto;
    color: $color-text;
    width: 576px;
    height: auto;
    //in case if image will not load
    background: $color-bg-app;
    background-image: url('/img/background-img.png');
    overflow: hidden;
}
.header{
    margin-top: 20px;
    
    .header__button,
    .header__icon{
        align-self: center;
    }
    .header__icon{
        justify-content: flex-end;
        
        &:hover{
            cursor: pointer;
        }
    }
    
    .header__album-title{
        display: flex;
        flex-direction: column;
        flex: auto;
        align-items: center;

        p{
            color: #9a9b9b;
            margin-bottom: 10px;
            text-transform: uppercase;
            
        }
    }
} 
/*VIEW MORE SECTION*/

.header__view-more{
    z-index: 2;
    opacity: 0;
    padding-top: 44px;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 87.6%;
    background: #1b1b1bfa;
    transition: left 1s, opacity 0.5s;
    
    .header__view-more__button{
        cursor: pointer;
    }
    
    .row{
        justify-content: space-between;
    }
    
    .header__view-more__slider{
    //TEMP
        img{
            width: 40%;
            margin: 80px auto 15px;  
        }

    }

    .header__view-more__song{
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            color: #9a9b9b;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
    }
    .header__view-more__menu{
        
        ul{
            align-items: center;
            
            li{
                font-size: 24px;
                font-weight: 300;
                margin-top: 30px;
                cursor: pointer;
                
                 &::after{
                    display: block;
                    content: '';
                    border-bottom: solid 1px $color-main;
                    border-image: linear-gradient(to right, transparent, $color-main, transparent);
                    border-image-slice: 1;
                    transform: scaleX(0);
                    transition: transform .3s ease-in-out;
                    transform-origin: 50% 50%;
                    padding-top: 3px;
                }
                
                &:hover::after{
                        transform: scaleX(1);
                }
            }
           
        }
        
        img{
            transform: rotate(90deg);
            
        }
    }
}

.header__view-more--active{
    left: 0;
    opacity: 1;
}
/*END VIEW MORE SECTION*/

.slider{
    padding-bottom: 0;
    .slick-active{
        img{
        }
    }
    
    .slider__item{
        
        img{

            margin: 0 auto;
        }
    }
    
}

.song{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    
    p{
         color: #9a9b9b;
         margin-bottom: 10px;
          text-transform: uppercase;
    }
}

.button-panel{
    padding: 0;
    
    .row{
        justify-content: space-between;
    }
    .button-panel__col{
        display: flex;
        flex: auto;
        justify-content: space-between;
    }
    
    .button-panel__button--shadow{
        //transition - diffrent time on hover and button click
        transition: .17s all ease-in-out, .1s transform;
        cursor: pointer;
        
        &:hover{
            box-shadow: inset 0px 0px 20px 1px #333, 0px 0px 16px 1px #333;
            
         }
    }
    
    .play-inactive{
        position: relative;
    
        .button-panel__trigger{
            content: '';
            position: absolute;
            top: 49%; //not 50% because img is not rectangle (224x228px)
            left: 50%;
            transform: translate(-50%, -50%);
            height: 138px;
            width: 138px;
//            background: #742b2b40;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    
    .col{
        align-self: center;
        
        img{
            margin: 0 auto;
            
        }
    }
    //svg repeat
    .button-panel__repeat-ico,
    .button-panel__shuffle-ico{
        fill: #b3b3b3;
        fill-rule: evenodd;
      }
    
    .button-panel__repeat-ico--active,
    .button-panel__shuffle-ico--active{
        fill: darken($color-main, 10%);
    }
}

.button-panel__song-nav--active{
    transform: scale(1.1);
}

.progress-bar{
    .row{
        flex-wrap: nowrap;
    }
    .progress-bar__line{
        height: 4px;
        width: 100%;
        background: #2a2a2a;
        margin: 0 20px;
        align-self: center;
    }
}

.waveform{
    padding-bottom: 0;
}

.bottom-panel{
    background: $color-bg-bright;
    color: $color-text-dark;
    
    
    .bottom-panel__icon{
        display: flex;
        cursor: pointer;
    }
    .bottom-panel__text{
        flex-direction: column;
        margin-left: 40px;
        
        p{
            margin-bottom: 5px;
            text-transform: uppercase;
            color: $color-text-next;
        }
    }
    .bottom-panel__time{
        display: flex;
        flex: auto;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

.playlist{
    z-index: 3;
    opacity: 0;
    color: $color-text-dark;
    padding: 0px;
    position: absolute;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: left 1s, opacity 0.5s;
    
    .playlist__header{
        padding: 0px;
        //in case if image will not load
        background: $color-bg-app;
        background-image: url('/img/playlist-bg.png');
        
        .playlist__header__button{
            cursor: pointer;
            align-self: center;
        }
        
        .playlist__header__song-title{
            align-self: center;
            margin-left: 40px;
            
            h4{
                color: $color-main;
                font-weight: 300;
                margin-bottom: 5px;
            }
            p{
                color: $color-text-next;
                text-transform: uppercase;
                font-size: 14px
            }
        }
        
        .playlist__header__icon{
            display: flex;
            flex: auto;
            justify-content: flex-end;
        }
    }
    
    .playlist__song-list{
        margin-left: 10px;
        padding: 0px;
        ul{
            margin: 50px 70px 0px;
            
            li{
                list-style-type: decimal;
                padding-left: 15px;
                padding-bottom: 30px;
                
                font-size: 24px;
                font-weight: 400;
            }
            li:nth-child(6){
                opacity: 0.9;
            }
            li:nth-child(7){
                opacity: 0.75;
            }
            li:nth-child(8){
                opacity: 0.6;
            }
            li:nth-child(9){
                opacity: 0.45;
            }
            li:nth-child(10){
                opacity: 0.3;
            }
            li:nth-child(11){
                opacity: 0.15;
            }
        }
    }
    
    .playlist__bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        
        .playlist__bottom__shuffle{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-main;
            width: 448px;
            height: 59px;
            border-radius: 30px;
            cursor: pointer;

            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-text;
        }
        img{
            margin-top: 25px;
            transform: rotate(-90deg);
            cursor: pointer;
        }
    }
}

.playlist--active{
    left: 0;
    opacity: 1;
}
/***END MAIN***/

/***key frames***/
//Roll when play
.rollPlayMusic{
    animation: rollPlayMusic 6s infinite;
    animation-timing-function: linear;
        }
@keyframes rollPlayMusic{
    100%{transform: rotateZ(360deg);}
        }

//Roll onLoad app and after stop music
.rollEndMusic{
    animation: rollEndMusic 0.3s;
    animation-timing-function: linear;
        }
@keyframes rollEndMusic{
    100%{transform: rotateZ(360deg);}
        }
/***END key frames***/




